%h1 Listing roles

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Role

  %tbody
    - @roles.each do |role|
      %tr
        %td
          = link_to role.name, role
          = link_to_edit '', edit_role_path(role)
          = link_to_destroy '', role

%br

= button_to_new "New Role", new_role_path
